/* work sans front for google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.but-primmer{
  
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    padding: 20px 24px;
    cursor: pointer;
    border: 0;

}
/* header style */
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;

}
nav > ul {
    display:flex;
    margin-left: 48px;
    
}
nav  li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
   text-decoration: none;
   color: #424242;
}
/* banner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:#131313;
    font-size: 64px;
    font-weight: 700;

}
.banner-description{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 53px;

}
.banner img{
    width: 100%;
    margin-top: 20px;
}
/* responsive media queries  */
/* mobile devices  */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    
}
/* mediums devices and tablet */
@media screen and (min-width:576px) and (max-width:992px) {
    
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    
}